In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
grades = {"Berk": 55, "Ahmet": 87, "Zeynep": 68}

In [5]:
pd.Series(grades)

Berk      55
Ahmet     87
Zeynep    68
dtype: int64

In [6]:
names = ["Berk", "Ahmet", "Zeynep"]
grades = [55, 87, 68]

In [7]:
pd.Series(data=grades, index=names)

Berk      55
Ahmet     87
Zeynep    68
dtype: int64

In [8]:
# If two Series have the same indexes, basic operations such as sum() can be applied.

In [9]:
series1 = pd.Series([10, 20, 30, 40], ["a", "b", "c", "d"])

In [10]:
series1

a    10
b    20
c    30
d    40
dtype: int64

In [11]:
series2 = pd.Series([1, 2, 3, 4], ["a", "c", "e", "f"])

In [12]:
series2

a    1
c    2
e    3
f    4
dtype: int64

In [13]:
series1 + series2

a    11.0
b     NaN
c    32.0
d     NaN
e     NaN
f     NaN
dtype: float64

In [14]:
series1 - series2

a     9.0
b     NaN
c    28.0
d     NaN
e     NaN
f     NaN
dtype: float64